@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Product+Sans");
@import url("https://fonts.googleapis.com/css?family=Google+Sans");

.container-border {
  border-color: #888888 !important;
  border-style: solid;
  position: relative;
}

* {
  font-family: Google Sans !important;
  border-radius: 7.5px !important;
  border-color: transparent !important;
  /* box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.2); */
  animation: animatezoom 0.6s;
}

.circle-plus {
  height: 6em;
  width: 6em;
  font-size: 1em;
}

.circle-plus .circle {
  position: relative;
  width: 4.5em;
  height: 4.5em;
  border-radius: 100%;
  border: solid .8em #DFDAD7;
}

.circle-plus .circle .horizontal {
  position: absolute;
  background-color: #DFDAD7;
  width: 2.4em;
  height: .7em;
  top: 1.9em;
  left: 1.05em;
}

.circle-plus .circle .vertical {
  position: absolute;
  background-color: #DFDAD7;
  width: .7em;
  height: 2.4em;
  top: 1.05em;
  left: 1.9em;
}

.circle-plus {
  margin: auto;
  padding: 4em 0;
  pointer-events: none;
}

/* basic styling */
body {
  background-color: #888888;
}
.background {
  background-color: #808080;
}
/* end basic styling */
.btn, .btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #888888;
  border-color: #808080;
}
.btn-primary:hover {
  background-color: #808080 !important;
  border-color: #808080 !important;
}
/* footer */
footer > a {
  color: #6c757d;
}
footer > a:hover {
  color: #fec503;
  text-decoration: none;
}
::selection {
  background: #fec503;
  text-shadow: none;
}
footer {
  padding: 2rem 0;
  background-color: #212529;
}

.footer-column:not(:first-child) {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .footer-column:not(:first-child) {
    padding-top: 0rem;
  }
}
.footer-column {
  text-align: center;
}
.footer-column .nav-item .nav-link {
  padding: 0.1rem 0;
}
.footer-column .nav-item span.nav-link {
  color: #6c757d;
}
.footer-column .nav-item span.footer-title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  /* text-transform: uppercase; */
}
.footer-column .nav-item .fas {
  margin-right: 0.5rem;
}
.footer-column ul {
  display: inline-block;
}
@media (min-width: 768px) {
  .footer-column ul {
    text-align: left;
  }
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #0056b3;
}
ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #1a1d20;
}
footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.copyright {
  color: white;
  background-color: #212529;
}
.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}

.line-top {
  background-color: rgb(158, 158, 158);
  color: rgba(0, 0, 0, 1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 10px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
}

.spin {
  animation: w3-spin 2s infinite linear;
}
@keyframes w3-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.animate-fading {
  animation: fading 10s infinite;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animate-opacity {
  animation: opac 0.8s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-top {
  position: relative;
  animation: animatetop 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.animate-left {
  position: relative;
  animation: animateleft 0.4s;
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.animate-right {
  position: relative;
  animation: animateright 0.4s;
}
@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.animate-input {
  transition: width 0.4s ease-in-out;
}
.animate-input:focus {
  width: 100% !important;
}

.label-float {
  position: relative;
  padding-top: 13px;
}

.label-float input {
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: none;
  min-width: 250px;
  padding: 15px 20px;
  font-size: 16px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-appearance: none;
}

.label-float input:focus {
  border: 2px solid #808080;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
}

.label-float input:required:invalid + label {
  color: red;
}
.label-float input:focus:required:invalid {
  border: 2px solid red;
}
.label-float input:required:invalid + label:before {
  content: "*";
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
  font-size: 13px;
  top: 0;
  color: #808080;
}

body,
html {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Exo Extra Bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-image: linear-gradient(
      135deg,
      rgba(159, 159, 159, 0.46) 0%,
      rgba(159, 159, 159, 0.46) 14.286%,
      rgba(165, 165, 165, 0.46) 14.286%,
      rgba(165, 165, 165, 0.46) 28.572%,
      rgba(171, 171, 171, 0.46) 28.572%,
      rgba(171, 171, 171, 0.46) 42.858%,
      rgba(178, 178, 178, 0.46) 42.858%,
      rgba(178, 178, 178, 0.46) 57.144%,
      rgba(184, 184, 184, 0.46) 57.144%,
      rgba(184, 184, 184, 0.46) 71.43%,
      rgba(190, 190, 190, 0.46) 71.43%,
      rgba(190, 190, 190, 0.46) 85.716%,
      rgba(196, 196, 196, 0.46) 85.716%,
      rgba(196, 196, 196, 0.46) 100.002%
    ),
    linear-gradient(
      45deg,
      rgb(252, 252, 252) 0%,
      rgb(252, 252, 252) 14.286%,
      rgb(246, 246, 246) 14.286%,
      rgb(246, 246, 246) 28.572%,
      rgb(241, 241, 241) 28.572%,
      rgb(241, 241, 241) 42.858%,
      rgb(235, 235, 235) 42.858%,
      rgb(235, 235, 235) 57.144%,
      rgb(229, 229, 229) 57.144%,
      rgb(229, 229, 229) 71.43%,
      rgb(224, 224, 224) 71.43%,
      rgb(224, 224, 224) 85.716%,
      rgb(218, 218, 218) 85.716%,
      rgb(218, 218, 218) 100.002%
    );
}

@keyframes gradientbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.required-info {
  color: #e71c23 !important;
  margin: 10px;
}

.logoutButton {
  --figure-duration: 100ms;
  --transform-figure: none;
  --walking-duration: 100ms;
  --transform-arm1: none;
  --transform-wrist1: none;
  --transform-arm2: none;
  --transform-wrist2: none;
  --transform-leg1: none;
  --transform-calf1: none;
  --transform-leg2: none;
  --transform-calf2: none;
  background: none;
  border: 0;
  color: #f4f7ff;
  cursor: pointer;
  display: block;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  outline: none;
  padding: 0 0 0 20px;
  perspective: 100px;
  position: relative;
  text-align: left;
  width: 130px;
  -webkit-tap-highlight-color: transparent;
}
.logoutButton::before {
  background-color: #1f2335;
  border-radius: 5px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: none;
  transition: transform 50ms ease;
  width: 100%;
  z-index: 2;
}
.logoutButton:hover .door {
  transform: rotateY(20deg);
}
.logoutButton:active::before {
  transform: scale(0.96);
}
.logoutButton:active .door {
  transform: rotateY(28deg);
}
.logoutButton.clicked::before {
  transform: none;
}
.logoutButton.clicked .door {
  transform: rotateY(35deg);
}
.logoutButton.door-slammed .door {
  transform: none;
  transition: transform 100ms ease-in 250ms;
}
.logoutButton.falling {
  animation: shake 200ms linear;
}
.logoutButton.falling .bang {
  animation: flash 300ms linear;
}
.logoutButton.falling .figure {
  animation: spin 1000ms infinite linear;
  bottom: -1080px;
  opacity: 0;
  right: 1px;
  transition: transform calc(var(--figure-duration) * 1ms) linear,
    bottom calc(var(--figure-duration) * 1ms) cubic-bezier(0.7, 0.1, 1, 1) 100ms,
    opacity calc(var(--figure-duration) * 0.25ms) linear
      calc(var(--figure-duration) * 0.75ms);
  z-index: 1;
}
.logoutButton--light::before {
  background-color: #f4f7ff;
}
.logoutButton--light .button-text {
  color: #1f2335;
}
.logoutButton--light .door,
.logoutButton--light .doorway {
  fill: #1f2335;
}
.button-text {
  color: #f4f7ff;
  font-weight: 500;
  position: relative;
  z-index: 10;
}
svg {
  display: block;
  position: absolute;
}
.figure {
  bottom: 5px;
  fill: #4371f7;
  right: 18px;
  transform: var(--transform-figure);
  transition: transform calc(var(--figure-duration) * 1ms)
    cubic-bezier(0.2, 0.1, 0.8, 0.9);
  width: 30px;
  z-index: 4;
}
.door,
.doorway {
  bottom: 4px;
  fill: #f4f7ff;
  right: 12px;
  width: 32px;
}
.door {
  transform: rotateY(20deg);
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
  transition: transform 200ms ease;
  z-index: 5;
}
.door path {
  fill: #4371f7;
  stroke: #4371f7;
  stroke-width: 4;
}
.doorway {
  z-index: 3;
}
.bang {
  opacity: 0;
}
.arm1,
.wrist1,
.arm2,
.wrist2,
.leg1,
.calf1,
.leg2,
.calf2 {
  transition: transform calc(var(--walking-duration) * 1ms) ease-in-out;
}
.arm1 {
  transform: var(--transform-arm1);
  transform-origin: 52% 45%;
}
.wrist1 {
  transform: var(--transform-wrist1);
  transform-origin: 59% 55%;
}
.arm2 {
  transform: var(--transform-arm2);
  transform-origin: 47% 43%;
}
.wrist2 {
  transform: var(--transform-wrist2);
  transform-origin: 35% 47%;
}
.leg1 {
  transform: var(--transform-leg1);
  transform-origin: 47% 64.5%;
}
.calf1 {
  transform: var(--transform-calf1);
  transform-origin: 55.5% 71.5%;
}
.leg2 {
  transform: var(--transform-leg2);
  transform-origin: 43% 63%;
}
.calf2 {
  transform: var(--transform-calf2);
  transform-origin: 41.5% 73%;
}
@keyframes spin {
  from {
    transform: rotate(0deg) scale(0.94);
  }
  to {
    transform: rotate(359deg) scale(0.94);
  }
}
@keyframes shake {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
/**** Wrapper styles ****/
body button {
  margin: 20px;
  color: white;
  background-color: #888888;
  width: 100%;
  height: 100%;
}

/* body button:hover {
  color: #808080 !important;
  transition: all 2s ease;
}

body button:focus {
  width: 80%;
  height: 80%;
} */

.container {
  position: fit;
  top: 120%;
  animation: animatezoom 3s ease-out;
}

.form-error {
  font-family: "Google Sans";
  background-color: red;
  color: white;
}

.form-icon {
  width: 40px;
  margin-bottom: 0.5rem;
}

.topnav {
  float: left;
  background-color: white;
}

.navbar-icon {
  float: left;
}
.nav-text {
  float: left;
  position: relative;
  vertical-align: middle;
  margin-top: 0.75rem;
  font-family: "Product Sans";
  color: #5f6368;
  padding-left: 1rem;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

.nav-effect {
  box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.2);
  align-self: center;
  width: 1715px;
  left: 10px;
  right: 10px;
}

.float-right {
  float: right;
}

.logout-icon {
  width: 40px;
  cursor: pointer;
}

.nav-padding {
  padding: 10px 20px 10px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #fff;
  box-shadow: 10px 0 5px -2px #888;
}

.nav-ham {
  float: left;
  font-size: 1.8rem;
  position: relative;
  vertical-align: middle;
  margin-right: 1rem;
  cursor: pointer;
}

.close-sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.sidebar-content {
  margin: 20px;
}

.sidebar-title {
  margin-top: 50px;
  font-family: "Google Sans";
  font-size: 1.3rem;
  border-bottom: 1px solid #888;
  text-align: center;
  cursor: pointer;
}

.sidebar-title-link {
  text-decoration: none;
  color: #414244;
}

.create-form {
  /* background-color: #f1f3f4; */
  width: 100vw;
  float: left;
}

.forms-label {
  font-family: "Google Sans";
  margin: 10px 10px 5px 10px !important;
}

.form-template-box {
  border: 3px solid transparent;
  background-clip: padding-box;
  margin: 5px 30px 10px 0;
  border-radius: 10px;
  float: left;
  animation: bluetogrey ease 0.5s;
}

.form-template-box img {
  width: 10em;
  height: 9.5em;
  float: left;
}

.form-template-box:hover {
  border: 3px solid grey;
  border-radius: 10px;
  animation: greytoblue ease 1s;
}

.form-box {
  width: 250px;
  border: 3px solid rgb(182, 179, 179);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
  position: relative;
  animation: bluetogrey ease 0.5s;
}

@keyframes bluetogrey {
  from {
    border: 3px solid darkblue;
  }
  to {
    border: 3px solid rgb(182, 179, 179);
  }
}

@keyframes greytoblue {
  0% {
    border: 3px solid rgb(182, 179, 179);
  }
  100% {
    border: 3px solid darkblue;
  }
}

.form-box:hover {
  border: 3px solid darkblue;
  border-radius: 10px;
  animation: greytoblue ease 1s;
}

.form-list {
  float: left;
  margin-top: 20px;
}

.form-list-title {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  position: relative;
}

.form-list-title-text {
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  font-family: "Google Sans";
  margin: 2.5px;
}

.form-list-timestamp {
  margin: 2.5px;
  color: gray;
}

.form-list-link {
  color: #000000;
  text-decoration: none;
  float: left;
}

.error-page {
  text-align: center;
  font-family: "Roboto Condensed";
}

.form-topnav {
  padding: 15px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 7.5px;
  box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.2);
}

.nav-form-title {
  width: 300px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

.edit-on-click {
  border: none;
  font-size: 1.2rem;
  transition: 1s;
  overflow-y: hidden;
}

.edit-on-click:focus {
  outline: none !important;
  border-bottom: 1px solid #202124;
}

.nav-form-menu-icon {
  width: 1.5rem;
  margin: 10px 15px;
  cursor: pointer;
  float: left;
}

.send-form-btn {
  position: relative;
  background-color: blue;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 1.9em;
  transform: none;
  cursor: pointer;
}

.question-box {
  box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.form-title {
  font-size: 2rem;
  font-family: "Google Sans";
  font-weight: normal;
  margin: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
}

.form-description {
  font-size: 1rem;
  font-family: "Roboto Condensed";
  margin: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
}

.form-title-box {
  border-bottom: 1px solid #ddd;
}

.modal {
  display: none;
  position: fixed;
  z-index: 6;
  padding: calc(10vh - 20px) 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: 80%;
  overflow: auto;
  max-width: 600px;
  border-radius: 10px;
}

.modal-close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  font-family: "Google Sans";
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(233, 232, 232);
  margin-bottom: 0;
}

.modal-subtitle {
  font-family: "Roboto Condensed";
  font-size: 1rem;
  font-weight: normal;
}

.setting-form-label {
  font-family: "Roboto Condensed";
}

.modal-division {
  margin: 30px 0;
}
.confirmation-msg-input {
  width: -webkit-fill-available;
  width: -moz-available;
  border-bottom: 1px solid #202124;
  min-height: 20px !important;
}

.setting-options {
  position: relative;
}
.setting-option-cancel {
  margin: 20px 10px;
  cursor: pointer;
  color: #84878b;
}

.btn-save-setting {
  background-color: #673ab7;
  color: #ddd;
  font-size: 1rem;
  font-family: "Google Sans";
}

.setting-preview-form,
.setting-preview-form a {
  cursor: pointer;
  color: #bbb;
  font-family: "Google Sans";
  text-decoration: none;
}

.setting-preview-form:hover {
  opacity: 0.5;
}

.danger-zone {
  font-weight: bold;
  font-family: "Google Sans";
  font-size: 1.4rem;
}

.delete-form-title {
  margin: 0;
  font-family: "Roboto Condensed";
}

.delete-form-description {
  margin: 0;
  font-family: "Poppins";
}

.delete-form-btn {
  font-size: 1rem;
  font-family: "Poppins";
  padding: 3px !important;
  background-color: #e71c23;
  color: #fff;
}

.question-options {
  width: 2.73rem;
  height: 4.75rem;
  background-color: #fff;
  position: fixed;
  bottom: 10%;
  right: 1%;
}

.form-option-icon {
  width: 2rem;
  margin: 5px;
  cursor: pointer;
  display: block;
}

.collect-email {
  margin: 10px;
}

.question-title {
  font-family: "Google Sans";
  font-size: 1.3rem;
  font-weight: normal;
}

.require-star {
  color: #e71c23;
}

.require-email-edit {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #84878b;
  width: 50%;
  cursor: not-allowed;
}

.collect-email-desc {
  color: #70757a;
  margin: 10px 0;
}

.open-setting {
  color: #1a73e8;
  cursor: pointer;
}

.question-title {
  font-family: "Google Sans";
  font-size: 1.5rem;
  width: 65%;
}

.question-type-select {
  width: calc(35% - 8px);
  padding: 5px 35px 5px 5px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  height: 34px;
}

.question-type-select::-ms-expand {
  display: none;
}

.choices {
  margin: 10px 0;
}

.choice {
  margin: 5px 0;
  font-family: "Google Sans";
}

.add-option {
  cursor: pointer;
  color: #70757a;
}

.edit-choice {
  display: inline;
  width: 80%;
  border: none;
  overflow-y: hidden;
  font-family: "Google Sans";
}

.remove-option {
  display: inline;
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: 10px;
}

.choice-option {
  padding: 10px;
  display: block;
  border-top: 1px solid #ccc;
}

.required {
  font-family: "Roboto Condensed";
}

.answers {
  margin: 5px;
  font-family: "Google Sans";
}

.short-answer {
  width: 50%;
  border: none;
  padding: 5px;
  border-bottom: 1px solid #70757a;
}

.long-answer {
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  padding: 5px;
  border-bottom: 1px solid #70757a;
}

.question-option-icon {
  width: 1.5rem;
  cursor: pointer;
}
.form-navigation {
  background-color: #fff;
  width: 400px;
  margin: auto;
}

.navigation {
  text-align: center;
  cursor: pointer;
}

.form-navigation .active {
  color: rgb(0, 132, 223);
  font-weight: bold;
  font-family: "Google Sans";
  font-size: 0.8rem;
}

.question-score {
  max-width: calc(25% - 8px);
  display: inline-block;
  font-family: "Google Sans";
  margin: 1rem;
}

.input-score {
  width: 30px;
  border: none;
  border-bottom: 1px solid rgb(0, 132, 223);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.question-title-score {
  font-family: "Google Sans";
  display: inline-block;
  width: 75%;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 1rem;
}

.answer-key,
.feedback {
  margin: 5px 10px;
}
.answer-key-title,
.feedback-title {
  margin: 0;
  font-family: "Roboto Condensed";
  display: inline-block;
}

.multiple-choice {
  width: 100%;
  margin: 5px;
}

/* .btn-submit {
  box-shadow: inset 0 0 rgb(0, 89, 255);
  transition: all 0.3s ease-out;
  border: none;
}

.btn-submit:hover {
  box-shadow: inset 12em 0 #808080;
  cursor: pointer;
  color: rgb(0, 0, 0);
} */

.btn-submit {
  position: relative;
  background-color: transparent;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  font-size: 1.9em;
  transform: none;
  cursor: pointer;
}

.btn-submit::after {
  content: "";
  height: 100%;
  width: calc(100% + 20px);
  position: absolute;
  top: -2px;
  left: -10px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: 1s;
}

.btn-submit::before {
  content: "";
  height: calc(100% + 20px);
  width: 100%;
  position: absolute;
  top: -10px;
  left: -2px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: 1s;
}

.btn-submit:hover::before {
  transform: rotateY(180deg);
}

.btn-submit:hover::after {
  transform: rotateX(180deg);
}

.menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  width: 0%;
  height: 100%;
  background: #0b090a;
  transition: all 300ms;
  z-index: 1;
}
.menu-wrapper.bg {
  width: 30%;
}
@media (max-width: 1200px) {
  .menu-wrapper.bg {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .menu-wrapper.bg {
    width: 55%;
  }
}
@media (max-width: 600px) {
  .menu-wrapper.bg {
    width: 75%;
  }
}
@media (max-width: 480px) {
  .menu-wrapper.bg {
    width: 100%;
  }
}
.menu-item {
  padding: 60px 30px 50px 30px;
  text-align: center;
  background: #0b090a;
  height: 100%;
  overflow-y: auto;
}
.menu-item-link {
  font-size: 10vh;
  display: block;
  margin: 20px 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.1);
  text-align: center;
  background: linear-gradient(
    to right,
    #ed8080 0%,
    #2a77d6 16%,
    #5eb524 32%,
    #eacd25 48%,
    #ed8080 64%,
    #2a77d6 80%,
    #5eb524 100%
  );
  background-size: 300% 300%;
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #222;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  animation: shimmer infinite 3s linear;
  position: relative;
}
.menu-item-link:nth-child(5) {
  margin-bottom: 90px;
}
.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 40px;
  height: 8px;
  border-radius: 2px;
  opacity: 0.8;
}
.hamburger-menu {
  position: absolute;
  right: 0;
  margin: 30px 30px;
  transform: translateY(9px);
  background: rgba(255, 255, 255, 0.8);
  transition: all 0ms 300ms;
}
.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}
.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 9px;
  background: rgba(255, 255, 255, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  background: rgba(255, 255, 255, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
*/ .required-info {
  color: #e71c23 !important;
  margin: 10px;
}

.edit-form-link {
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 50px;
  right: 1%;
  border-radius: 50%;
}

.response-title {
  font-family: "Google Sans";
  font-size: 1.5rem;
  font-weight: normal;
}

.score-title {
  font-family: "Google Sans";
  margin: 10px;
  font-size: 1.2rem;
  font-weight: normal;
}

.question-title {
  font-family: "Google Sans";
  font-size: 1.5rem;
}

.view-score-btn {
  position: relative;
  background-color: #673ab7;
  color: #ddd;
  font-family: "Google Sans";
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin: 5px 15px;
}

.feedback {
  margin: 10px 5px;
}

.feedback-title {
  font-family: "Poppins";
  font-size: 1.1rem;
  font-weight: normal;
}

.edit-response-link {
  margin-left: 15px;
}

.form-template-label {
  transition: all 0.5s;
  font-family: "Google Sans";
  margin: 10px;
  display: block;
}

.form-template-label:hover {
  transition: all 0.5s;
  font-family: "Google Sans";
  margin: 10px;
  display: block;
}

.form-animate {
  position: relative;
  display: block;
  overflow: hidden;
}

.input-animate {
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  display: inline-block;
  outline: none;
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  border-bottom: 1px solid #7c7c7c;
}

.input-onFocus {
  transition: all 0.5s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #1a73e8;
}

.form-animate,
.input-animate {
  color: inherit;
}

.form-animate .input-animate:focus + .input-onFocus {
  left: 0;
}

.response-summary {
  margin: 0.5rem 1rem;
}

.response-summary-title {
  font-family: "Google Sans";
  font-size: 1rem;
  font-weight: normal;
}

blockquote {
  font-size: 1.4em;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 10px;
  border-left: 8px solid #78c0a8;
  position: relative;
  background: #ededed;
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.pie-chart {
  width: 70% !important;
  height: 70% !important;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .nav-form-title {
    width: 100px;
  }

  .form-list-link,
  .form-box {
    width: -webkit-fill-available;
    width: -moz-available;
  }
  .modal {
    padding: 0;
  }

  .modal-content {
    max-width: none;
    max-height: none;
    width: -webkit-fill-available;
    width: -moz-available;
    height: calc(100% - 40px);
    border-radius: 0%;
  }
  .question-title,
  .question-title-score {
    width: 100%;
  }
  .question-type-select {
    width: 100%;
    display: block;
  }

  .big-screen {
    display: none;
  }
  .navigation {
    width: calc((100% - 60px) / 3) !important;
  }
  .question-score {
    max-width: 100%;
    width: 100%;
  }
  .input-score {
    width: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .small-screen {
    display: none;
  }
}
